body {
  padding: 0;
  margin:  0;
  height: 100%;
  overflow: hidden;
}

canvas {
  position: absolute;
  left: 0;
  top:  0;
  background-color: #333;

  image-rendering: -moz-crisp-edges;          /* FF 6.0+ */
  image-rendering: -webkit-optimize-contrast; /* Safari */
  image-rendering: -o-crisp-edges;            /* OSX & Opera 12.02+ */
  image-rendering: optimize-contrast;         /* Possible future browsers */
  -ms-interpolation-mode: nearest-neighbor;   /* IE */
}